*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #2b2d42;
    color: white;
    font-family: sans-serif;
}


h1{
    text-align: center;
    margin-top: 20px;
}

#section-dadi{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    gap: 40px;
}

#section-dadi .dadi-container{
    display: flex;
    gap: 20px;
}

#section-dadi .dado{
    width: 80px;
    border: 2px solid white;
    height: 80px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#section-dadi button{
    padding: 10px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 10px ;
    color: white;

}



h1:last-child{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

#section-mail{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

#section-mail input, button{
    height: 30px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid white;
    border-radius:  5px;
    margin-inline: 10px;
    color: white;

}